@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    height: 100%;
  }

  pre[data-language] {
    white-space: pre-wrap;

    &,
    & code.hljs {
      height: 100%;
      width: 100%;
    }
  }
}

@layer components {
  .link {
    @apply transition;

    &:hover,
    &.hover {
      @apply text-accent-500 dark:text-accent-300;
      text-shadow: 0 0 0.2em theme("colors.accent.800" / 50%);
    }
    &.svg:hover,
    &.svg.hover {
      filter: drop-shadow(0 0 0.2em theme("colors.accent.700" / 50%));
    }

    html.dark {
      &:hover,
      &.hover {
        text-shadow: 0 0 0.2em theme("colors.accent.700" / 25%);
      }
      &.svg:hover,
      &.svg.hover {
        filter: drop-shadow(0 0 0.2em theme("colors.accent.500" / 50%));
      }
    }
  }

  .overlay {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

@layer utilities {
  .text-shadow-none {
    text-shadow: none;
  }

  .absolute-centered {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transform;
  }
}
